{% extends "base.html" %}
{% load static %}
{% block title %} Ingenieurie&mdash;Informatique {% endblock %}

{% block content %}


    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="{% url 'index' %}">Acceuil</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Admission</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <img src="{% static 'face/images/course_6.jpg' %}" alt="Image" class="img-fluid"> 
                    <br> <br> <br> <br>
                    <img src="{% static 'face/images/course_7.jpg' %}" alt="Image" class="img-fluid"> 
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>CONDITIONS DʼADMISSION</span>
                    </h2>
                    <p>En première année: la Licence en
                      Ingénierie Informatique est ouverte aux
                      bacheliers et aux professionnels titulaires dʼun
                      baccalauréat de séries scientifiques S ou
                      techniques T.</p>
                    <p>En deuxième ou troisième année: la
                      Licence en Ingénierie Informatique est
                      ouverte aux professionnels et aux étudiants
                      titulaires dʼune Licence 1 ou Licence 2 en
                      MPI ou tout diplôme équivalent</p>

                    <ol class="ul-check primary list-unstyled">
                        <li>OBJECTIFS <br>
                          Former des informaticiens qui seront capables de:</li>
                        <li>Concevoir un système informatique(SI)</li>
                        <li>Déployer des architectures des SI</li>
                        <li>Assurer lʼaudit et la sécurité dʼun système informatique</li>
                        <li>Développer des applications web /mobiles</li>
                        <li>Administrer des réseaux informatiques et de télécommunication</li>
                        <li>Déployer des architectures de réseaux interconnectés</li>
                    </ol>

                </div>
            </div>

            <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                        <img src="{% static 'face/images/course_3.jpg' %}" alt="Image" class="img-fluid">
                        <br> <br> <br> <br>
                        <img src="{% static 'face/images/course_8.jpg' %}" alt="Image" class="img-fluid"> 
                    </div>
                    <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>DOSSIER DE CANDIDATURE</span>
                        </h2>
                        <p>Les cours sont assurés par des enseignants
                          de lʼUASZ, des autres universités
                          sénégalaises et étrangères, des
                          professionnels de lʼinformatique.</p>
                        <ol class="ul-check primary list-unstyled">
                                <li>Copie légalisée de la pièce dʼidentité</li>
                                <li>Lettre de motivation</li>
                                <li>Copies légalisées du baccalauréat et du
                                    relevé de notes du baccalauréat </li>
                                <li>Fournir en plus des documents cités cidessus,
                                  les copies légalisées des relevés de
                                  notes de la L1 pour lʼadmission en L2</li>
                                <li>Fournir en plus des documents cités cidessus,
                                  les copies légalisées des relevés de
                                  notes de la L1 et L2 pour lʼadmission en L3</li>
                                  <br>
                                <li>
                                  <table border="1" cellpadding="15" cellspacing="10"/>
                                  <tr> 
                                    <th>Catégories</th>
                                    <th>Frais dʼinscription</th>
                                    <th>Mensualité</th>
                                  </tr>
                                  
                                  <tr>
                                    <td>Publique</td>
                                    <td>25 000 F</td>
                                    <td>Néant</td>
                                  </tr>
                                  
                                  <tr>
                                    <td>Professionnels et
                                      autres étudiants</td>
                                    <td>50 000 F</td>
                                    <td>50 000FCFA/ mois
                                      (sur 10 mois/ an)</td>
                                  </td>
                                
                                </table>
                              </li>
                            </ol>
                    </div>
                </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('{% static 'face/images/hero_1.jpg' %}');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-mortarboard"></span>
              <h3>Notre Philosophie</h3>
              <p>Transmettre et faire acquérir des connaissances, préparer à la vie professionnelle, 
                éduquer les futurs adultes à être citoyens et à vivre ensemble, viser l'égalité entre 
                élèves dans la réussite éducative est la philosophie de la L2I.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Principe académique</h3>
              <p>« l'homme est présenté d'emblée comme un certain être qui, 
                à la différence des autres animaux, serait doué d'une faculté 
                qui lui assure un certain rayonnement, la faculté de raisonner ».
                Nous allons booster le raisonnement dans la L2I.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Clé du succès</h3>
              <p>L'éducation est la clé du succès car elle ouvre des portes 
                aux personnes de tous les horizons et élargit l'esprit humain
                avec la connaissance.</p>
            </div>
          </div>
        </div>
      </div>
      
{% endblock %}