{% extends "base.html" %}
{% load static %}
{% block title %} Ingenieurie&mdash;Informatique {% endblock %}

{% block content %}

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="{% url 'index' %}">Acceuil</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="courses.html">Cours</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">{{cours.matiere}}</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <p>
                    {%if cours %}
                     
                        <iframe src=" {{cours.doc.url }}" download="{{cours.doc.url }}" height="900px" width="600px"></iframe>
                        {% comment %} <img src="/static/face/images/course_5.jpg" alt="Image" class="img-fluid"> {% endcomment %}
                    </p>
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span>Details du Cours</span>
                        </h2>
                        <h2 class="section-title-underline mb-5">
                            <span>{{cours.titre}}</span>
                        </h2>
                        
                        <p><strong class="text-black d-block">Professeur:</strong> {{cours.auteur}}</p>
                        <p class="mb-5"><strong class="text-black d-block">Duree:</strong> 2h:00  &mdash; de temps</p>
                        <p>{{cours.desc}}</p>
                        <h3>A ne pas oublier</h3>
                        <ul class="ul-check primary list-unstyled mb-5">
                      
                            <li>Niveau: {{cours.niveau}} </li>
                            <li>Matiere: {{cours.matiere}}</li>
                            <li>Coefficent de la matiere :{{cours.coef}} </li>
                            <li>Tres important pour l'informatique</li>
                           {%endif%} 
                        </ul>

                        <p>
                            <a href=" {{cours.doc.url }}" download="{{cours.doc.url }}" class="btn btn-primary rounded-0 btn-lg px-5">Telecharger</a>
                        </p>
    
                    </div>
            </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('{% static 'face/images/hero_1.jpg' %}');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-mortarboard"></span>
              <h3>Notre Philosphie</h3>
              <p>Transmettre et faire acquérir des connaissances, préparer à la vie professionnelle, 
                éduquer les futurs adultes à être citoyens et à vivre ensemble, viser l'égalité entre 
                élèves dans la réussite éducative est la philosophie de la L2I.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Principe académique</h3>
              <p>« l'homme est présenté d'emblée comme un certain être qui, 
                à la différence des autres animaux, serait doué d'une faculté 
                qui lui assure un certain rayonnement, la faculté de raisonner ».
                Nous allons booster le raisonnement dans la L2I.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Clé du succès</h3>
              <p>L'éducation est la clé du succès car elle ouvre des portes 
                aux personnes de tous les horizons et élargit l'esprit humain
                avec la connaissance.</p>
            </div>
          </div>
        </div>
      </div>
      

  {% endblock %}