{% extends "base.html" %}
{% load static %}
{% block title %} Ingenieurie&mdash;Informatique {% endblock %}

{% block content %}

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="{% url 'index' %}">Acceuil</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="{% url 'courses' %}">Cours</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">{{matiere}}</span>
      </div>
    </div>
    
     <div class="container">
            <h3> Listes des cours {{matiere}} </h3>
      </div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                {% for cours in listCours %}
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="course-1-item">
                      <figure class="thumnail">
                      <a href="{%url 'course_single' cours.id %}"><img src="{{cours.cover.url}}" alt="Image" class="img-fluid"></a>
                      
                      <div class="category"><h3>{{cours.matiere}} <br>
                      Pr {{cours.auteur}}</h3></div>  
                      </figure>
                      <div class="course-1-content pb-4">
                      <h2>{{cours.titre}}</h2>
                      <div class="rating text-center mb-3">
                          <span class="icon-star2 text-warning"></span>
                          <span class="icon-star2 text-warning"></span>
                          <span class="icon-star2 text-warning"></span>
                          <span class="icon-star2 text-warning"></span>
                          <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">{{cours.desc|truncatewords:8}}.</p>
                      <p><a href="{%url 'course_single' cours.id %}" class="btn btn-primary rounded-0 px-4">Commencer tout de suite</a></p>
                      </div>
                  </div>
              </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-mortarboard"></span>
              <h3>Notre Philosphie</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Academics Principle</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Key of Success</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
          </div>
        </div>
      </div>
      


  {% endblock %}