{% extends "base.html" %}
{% block title %} L2I {% endblock %}
{% block content %} 
<div class="container" > 
<h2>Resultat de la recherche pour <strong>{{query}}</strong> </h2>
<div class="site-section">
        <div class="container">
            <div class="row">

{% if listCours %}
{% for cours in listCours %}
<div class="col-lg-4 col-md-6 mb-4">
  <div class="course-1-item">
      <figure class="thumnail">
      <a href="{%url 'course_single' cours.id %}"><img src="{{cours.cover.url}}" alt="Image" class="img-fluid"></a>
      
      <div class="category"><h3>{{cours.matiere}} <br>
      Pr {{cours.auteur}}</h3></div>  
      </figure>
      <div class="course-1-content pb-4">
      <h2>{{cours.titre}}</h2>
      <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
          <span class="icon-star2 text-warning"></span>
      </div>
      <p class="desc mb-4">{{cours.desc|truncatewords:8}}.</p>
      <p><a href="{%url 'course_single' cours.id %}" class="btn btn-primary rounded-0 px-4">Commencer tout de suite</a></p>
      </div>
  </div>
</div>
{% endfor %}
{% else%}
<h1 class="alert alert-danger ">Pas de cours du nom de {{query}}</h1>
      

{% endif%}

</div>
 </div>
</div></div>

{% endblock %}